@use "global/variables.scss";
@use "global/mixins.scss";

.advantages__list {
  @include mixins.list-reset;
  counter-reset: section;

  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__title {
  @include mixins.texts (700, 18px, 26px);
  color: variables.$title-color-black;
  margin: 0;
  padding: 0 0 11px 0;
  text-align: center;

  &--blue {
    color: variables.$text-color-second;
  }
}

.advantages__text {
  margin: 0 auto;
  text-align: center;

  &::before {
    counter-increment: section;
    white-space: pre;
    content: "— №" counter(section) "—\A";
  }
}

.advantages__description {
  padding: 37px 18px;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / 1;

    &--reverse {
      grid-column: 3 / 4;
      grid-row: 1 / -1;
    }
  }
}

.advantages__image {
  width: 100%;
  height: 256px;

  @media (min-width: variables.$tablet-width) {
    grid-column: 2 / 4;

    &--reverse {
      grid-column: 1 / 3;
    }
  }
}

.advantages__item--blue {
  background-color: variables.$background-color-blue;
  color: variables.$text-color-second;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item--grey {
  background-color: variables.$background-color-grey;
  padding: 24px 26px;
  border-bottom: 1px solid variables.$border-grey;
}
