@use "global/variables.scss";
@use "global/mixins.scss";

.catalog {
  background-color: variables.$background-color-white;

  @media (min-width: variables.$tablet-width) {
    padding: 0 60px 0;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0;
  }
}

.catalog__list {
  @include mixins.list-reset;

  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: variables.$desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.catalog__item {
  padding: 26px 20px 25px 20px;
  border-top: 1px solid variables.$border-light-grey;

  &:last-child {
    border-bottom: 1px solid variables.$border-light-grey;
  }

  @media (min-width: variables.$tablet-width) {
    border-top: none;
    padding: 0;

    &:first-child {
      grid-column: 1 / -1;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  @media (min-width: variables.$desktop-width) {
    display: grid;
    grid-template-rows: max-content max-content;
  }
}

.catalog__item-link {
  @media (min-width: variables.$desktop-width) {
    grid-row: 1/3;
    grid-column: 1/-1;
  }
}

.catalog__item-image {
  width: 100%;
  height: 280px;

  @media (min-width: variables.$tablet-width) {
    height: 267px;
  }

  &--first {
    @media (min-width: variables.$tablet-width) {
      height: 400px;
    }
  }
}

.catalog__item-text {
  padding-top: 15px;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: variables.$background-input;
    padding: 19px 20px 11px;

    &--dark {
      background-color: variables.$background-catalog;
    }
  }

  @media (min-width: variables.$desktop-width) {
    grid-row: 2/3;
    grid-column: 1/-1;
    color: variables.$text-color-second;
    padding: 17px 20px 17px 25px;
    background-color: variables.$title-color-active;

    &--first {
      padding: 22px 20px 15px 21px;
    }
  }
}

.catalog__item-title {
  @include mixins.texts (700, 14px, 21px);
  color: variables.$title-color-black;
  margin: 0;

  @media (min-width: variables.$desktop-width) {
    color: variables.$text-color-second;
  }
}

.catalog__item-author {
  text-transform: none;
  margin: 0;
  padding-bottom: 11px;

  @media (min-width: variables.$desktop-width) {
    padding-bottom: 0;
  }
}

.catalog__item-likes {
  @include mixins.texts (700, 14px, 21px);
  font-family: inherit;
  background-color: inherit;
  border: none;
  padding-left: 37px;
  padding-top: 6px;
  background-image: url("../img/like-icon.svg");
  background-repeat: no-repeat;
  //background-position: left 10px;
  cursor: pointer;

  @media (min-width: variables.$tablet-width) {
    padding: 0 0 0 33px;
  }

  @media (min-width: variables.$desktop-width) {
    background-image: url("../img/like-icon-desktop.svg");
    color: variables.$text-color-second;
    background-color: transparent;
  }
}
