@use "global/variables.scss";
@use "global/mixins.scss";

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 33px 18px 26px;

  @media (min-width: variables.$tablet-width) {
    flex-direction: row;
    justify-content: space-around;
    //padding-top: 30px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 38px 0 26px;
  }
}

.main-footer__link {
  @include mixins.texts (700, 21px, 26px);
  color: variables.$title-color-black;

  @media (min-width: variables.$tablet-width) {
    padding-bottom: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-bottom: 0;
  }
}

.main-footer__copyright-link {
  color: variables.$title-color-black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  &:hover {
    color: variables.$title-color-hover;
  }

  &:active,
  &:focus {
    color: variables.$copyright-color-active;
  }

  @media (min-width: variables.$tablet-width) {
    padding-bottom: 13px;
  }
}
