@use "global/variables.scss";
@use "global/mixins.scss";

.map {
  position: relative;
  height: 350px;
  margin-bottom: 9px;

  &::before {
    position: absolute;
    content: "";
    width: 27px;
    height: 27px;
    background-color: variables.$background-color-white;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 5;
  }

  &::after {
    position: absolute;
    content: "";
    width: 17px;
    height: 17px;
    background-color: variables.$background-color-blue;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 6;
  }

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 0;
  }
}

.map__container {
  position: relative;
  display: block;
  width: 100%;
  height: 350px;
  border: none;
  z-index: 15;

  margin-bottom: 9px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 7px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 0;
  }
}

.map__image {
  position: absolute;
  width: 100%;
  height: 350px;
  top: 0;
  display: block;
}


/*.map iframe {
  display: block;
  width: 100%;
  height: 350px;
  border: none;
  background-image: url("../img/map/map-tablet.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map/map-tablet@2x.jpg");
  }

  @media (min-width: variables.$desktop-width) {
    background-image: url("../img/map/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map/map-desktop@2x.jpg");
    }
  }
}

.map {
  position: relative;
  margin-bottom: 9px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 7px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 27px;
    height: 27px;
    background-color: variables.$background-color-white;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    content: "";
    width: 17px;
    height: 17px;
    background-color: variables.$background-color-blue;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
  }
}*/
