@use "global/variables.scss";
@use "global/mixins.scss";

.page {
  min-height: 100%;
}

.page__body {
  @include mixins.texts (400, 14px, 21px, uppercase);
  margin: 0 auto;
  min-width: 320px;
  font-family: "PT Sans", Arial, sans-serif;
  color: variables.$text-color-main;
  background-color: variables.$background-color-white;
  overflow-x: hidden;
}
