@use "global/variables.scss";
@use "global/mixins.scss";

.page__body {
  @include mixins.texts (400, 14px, 21px, uppercase);
  font-family: "PT Sans", "Arial", sans-serif;
  color: variables.$text-color-main;
  background-color: variables.$background-color-white;
  overflow-x: hidden;
  margin: 0;
}

.page__container {
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    min-width: variables.$tablet-width;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: variables.$desktop-width;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}
