@use "global/variables.scss";
@use "global/mixins.scss";

.social__list {
  @include mixins.list-reset;
  min-width: 154px;
  max-width: 540px;
  display: flex;
  justify-content: space-between;
  gap: 6px;
  flex-wrap: wrap;
}

.social__item {
  width: 48px;
  height: 48px;
  background-color: variables.$background-color-blue;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: variables.$background-hover;
  }

  &:active,
  &:focus {
    background-color: variables.$background-active;
  }
}

.social__link {
  padding: 15px 12px;
}

.social__icon {
  //color: variables.$background-color-white;
  fill: variables.$background-color-white;

  &:active,
  :focus {
    fill: transparentize(variables.$background-color-white, 0.7);
  }
}
