@use "global/variables.scss";
@use "global/mixins.scss";

.video {
  @media (min-width: variables.$tablet-width) {
    padding-bottom: 40px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-bottom: 84px;
  }
}

.video__description {
  padding: 15px 26px 38px 28px;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    width: 445px;
    padding: 51px 0 85px;
    margin: 0 auto;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 60px 0 85px;
  }
}

.video__description-title {
  @include mixins.texts (700, 18px, 26px);
  color: variables.$title-color-black;
  margin: 0;
  padding-bottom: 32px;

  @media (min-width: variables.$tablet-width) {
    @include mixins.texts (700, 30px, 26px);
  }
}

.video__description-text {
  color: variables.$text-color-main;
  margin: 0;
}

.video__video {
  width: 280px;
  max-width: 100%;
  height: auto;

  @media (min-width: variables.$tablet-width) {
    height: 500px;
    width: 100%;
  }

  @media (min-width: variables.$desktop-width) {
    width: 800px;
  }
}

.video__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video__button {
  position: absolute;
  background-image: url(../img/video-play.svg);
  width: 48px;
  height: 54px;
  background-color: transparent;
  border: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
