@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin texts ($font-weight, $font-size, $line-height, $text-transform:uppercase) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  text-transform: $text-transform;
}
