/*Colors*/
$background-color-white: #ffffff;
$background-color-blue: #81b3d2;
$background-color-grey: #eeeeee;
$background-color-desktop:#f2f2f2;

$background-hover: #669ec0;
$background-active: #5496bd;

$background-input: #f2f2f2;
$background-input-hover:#e5e5e5;
$background-input-active: #d5d5d5;

$title-color-black:#000000;
$title-color-white: #ffffff;

$title-color-current: #766357;
$title-color-hover: #81b3d2;
$title-color-active: rgb(#000000, 0.3);

$text-color-main: #333333;
$text-color-second: #ffffff;
$text-footnote: rgba(51, 51, 51, 0.6);
$text-placeholder: rgba(0, 0, 0, 0.3);
$text-color-active: rgba(255, 255, 255, 0.3);

$menu-item-hover: rgba(255, 255, 255, 0.6);
$menu-hover-blue: rgba(129, 179, 210, 0.6);
$menu-active-blue: rgba(129, 179, 210, 0.3);


$border-grey: #d6d6d6;
$border-light-grey:#e5e5e5;
$border-form-grey: #e6e6e6;

/*Viewports*/
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-only: 767px;
